<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
       default-autowire="byName">

    <!-- properties -->
    <bean class="com.alibaba.otter.shared.common.utils.spring.PropertyPlaceholderConfigurer" lazy-init="false">
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/><!-- 允许system覆盖 -->
        <property name="locations">
            <list>
                <value>classpath:otter.properties</value>
            </list>
        </property>
    </bean>

    <import resource="classpath*:spring/otter-manager-*.xml"/>
    <import resource="classpath*:spring/otter-arbitrate-*.xml"/>
    <import resource="classpath*:spring/otter-push-*.xml"/>
</beans>